<div id="liveAlertPlaceholder">  </div>

<a class="btn btn-outline-info" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Informacion archivo
</a>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Infomacion</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Carga un archivo excel con los siguientes datos>
      - Fecha de ingreso
      - Numero de empleado
      - Nombre
      - Apellidos
      - Edad
      - Cedula
      - Sexo
      - Correo electronico
      - Telefono
    </div>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" [routerLink]="['Abrir']" >ABRIR</a>
    </li>
  </div>
</div>
